@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Righteous&display=swap');

@font-face {
    font-family: 'OpenDyslexic';
    src: url(../fonts/OpenDyslexic-Regular.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'OpenDyslexic';
    background-color: #F1F0F0;
}

.cabecalho {
    width: 100%;
    height: 25vh;
    background-color: #1279B2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}



/* ----- Acessibilidade ----- */

.acessibilidade {
    border-radius: 100%;
    min-width: 50px;
    max-width: 80px;
    
}


.acessibilidade:hover {
    border: solid;
}





h1 {    
    
    font-size: 3.5vw;
    text-transform: uppercase;
    margin-left: 5vw;
}

.nav {
    list-style: none;
    font-size: 1.5vw;
    margin-right: 5vw;
}

main {
    width: 80%;
    height: 470vh;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: -10px 5px 13px -10px #000000, 5px 5px 13px -7px #000000, 5px 5px 5px 5px rgba(0,0,0,0);
}

.ux {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 2vw;
    font-weight: bold;
    color: #126390;
}

h3 {
    color: #126390;
    margin: 1vh 0;
}

#negocios {
    color: #0DA300;
    font-weight: bold;
    font-size: 0.9vw;
}

#turismo {
    color: #F9B300;
    font-weight: bold;
    font-size: 0.9vw;
}

section {
    width: 80%;
    height: 50vh;
    border: 3px solid #0DA300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 5vh auto 5vh;
}

.stur {
    border: 3px solid #F9B300;
}

.img__section {
    width: 45%;
    height: 70%;
    overflow: hidden;
    border-radius: 10px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.mercure {
    width: 100%;
    max-height: 40vh;
}

.blue {
    width: 100%;
}

.golden {
    width: 100%;
    max-height: 40vh;
}



.sobre {
    width: 45%;
    border-left: 2px solid #0DA300;
    font-size: 0.6vw;
}

.sobre__tur {
    border-left: 2px solid #F9B300;
}

.titulo__hotel, .loc, .descricao, h3, .ref, .site {
    margin-left: 1.5vw;
}

.ref {
    margin-left: 3vw;
    margin-bottom: 1vh;
}

.awesome {
    display: flex;
    margin: 1vh 0 1vh 0;
}
.fas {
    margin: 0 -1.2vw 0 1.5vw;
}

.neg {
    color: #0DA300;
}

.tur {
    color: #F9B300;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #0DA300;
}

a:hover {
    text-decoration-line: underline;    
}


/* footer */

footer {
    background-color: #5A5A5A;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape {
    width: 100%;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid #126390;
    margin: 5vh 5vw 5vh 15vw;
    color: #fff;
}

#titulo__rodape {
    color: #fff;
    margin: 10vh 0 1vh 5vw;
}

#p__rodape {
    margin: 2vh 0 0 5vw;
    font-size: 1vw;
}



@media (max-width: 900px) {
    .cabecalho {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 8vw;
    }

    .linav {
        font-size: 4vw;
        margin: 6vh 0 0 0;
    }

    .ux {
        flex-direction: column;
        justify-content: center;
    }

    .uxtitle{
        font-size: 5vw;
        margin-bottom: 2vh;
    }

    #negocios, #turismo {
        font-size: 3vw;
        margin: 0.5vh 0;
    }




    /* -----Acessibilidade----- */

    .acessibilidade{
        width: 30%;
    }



    section {
        flex-direction: column;
        overflow: scroll;
    }

    .img__section {
        width: 100%;
        height: 45vh;
        /* margin-top: 2.5vh; */
    }

    .mercure, .golden {
        height: 19vh;
        justify-content: space-around;
    }

    .sheraton {
        width: 100%;
        height: 19vh;
    }




    .sobre {
        width: 80%;
        height: 45%;
        margin: 1vh 0 10vh 0;
        font-size: 2vw;
        border: none;
    }

    /* footer */

    #titulo__rodape {
        font-size: 5vw;
    }

    #p__rodape {
        font-size: 3vw;
    }

}
    